 @import url('');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* global tags */
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
    padding: 8px 8px 8px 0;
}
span{
    font-size: .9rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}
nav img{
    width: 80px;
    height: 40px;
    cursor: pointer;
}
nav .navigation{
    display: flex;
    /* align-items: center; */
}
#menu-btn{
    display: none;
}
#menu-close{
    display: none;
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
nav .navigation ul li a.active {
    color: #fdc938;
}
nav .navigation ul li a:hover{
    color: #fdc938;
}
/* home */
#home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(/images/IMG_7391.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 4vw;
}
#home h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#home p{
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}
#home .btn {
    margin-top: 30px;
}
#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 36px;
    background-color: white;
    font-weight: 600px;
    border-radius: 5px;
}
#home a.blue{
    color: white;
    background-color: rgb(21, 21, 100);
    transform: 0.3ms ease;
}
#home a.blue:hover{
    color: rgb(21, 21, 100);
    background-color: white;
}
#home a.yellow{
    color: white;
    background-color: #fdc938;
    transform: 0.3ms ease;
}
#home a.yellow:hover{
    color: rgb(21, 21, 100);
    background-color: white;
}
/* features */
#features{
    padding: 4vw 8vw;
    text-align: center;
}
#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#features .fea-box{
    background-color: #f9f9ff;
    text-align: start;
    padding: 8px 8px;
}
#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}
#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 16px 0 8px 0;
}
#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
}
/* courses */
#course{
    padding: 4vw 8vw;
    text-align: center;
    
}
#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#course .courses{
    text-align: start;
    height: 100%;
    background: #f9f9ff;
    position: relative;
}
#course .courses :hover{
    cursor: pointer;
}
#course .courses img{
    width: 100%;
    height: 60%;
    background-position: center;
    background-size: cover;
}
#course .courses .details{
    padding: 16px 16px 0 16px;
}
#course .courses .details i{
    color: #fdc938 ;
    font-size: 0.9rem;
}
#course .courses .cost{
    background-color: rgb(74, 74, 136);
    color: white;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 16px;
    bottom: 140px;
}
/* registration */
#registration{
    padding: 4vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5)), url(/images/IMG_7386.jpg);
    /* width: 100%; */
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#registration .reminder{
    color: white;
}
#registration .reminder h1{
    color: white;
}
#registration .reminder .time{
    display: flex;
    /* flex-direction: row; */
    margin-top: 40px;
}
#registration .reminder .time .date{
    margin: 10px 10px 10px 0;
    background-color: #f9f9ff30;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.18);
    font-size: 1.1 rem;
    font-weight: 600;
}
#registration .form {
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
#registration .form input{
    margin: 16px 0;
    padding: 12px 12px;
    border: 1px solid rgb(84, 40, 241);
    outline: none;
}
#registration .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}
#registration .form .btn{
    margin-top: 20px;
}
#registration .form a.yellow{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 36px;
    background-color: white;
    font-weight: 600px;
    border-radius: 5px;
    color: white;
    background-color: #fdc938;
    transform: 0.3ms ease;
}
#registration .form a.yellow:hover{
    color: rgb(21, 21, 100);
    background-color: white;
}
/* experts */
#experts{
    text-align: center;
    padding: 4vw 8vw;
}
#experts .experts-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#experts .experts-box .profile{
    background-color: #fafaf1;
    padding: 30px 10px;
}
#experts .experts-box .profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 6px solid #cd9ac6;
}
.pro-links{
    margin-top: 20px;
}
.pro-links i{
    padding: 6px 4px 4px 4px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    margin: 4px;
    transition: 0.3s ease;
}
.pro-links i:hover {
    background-color: rgb(21, 21, 100);
    color: white;
}
/* footer */
footer{
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 4vw;
}
footer .footer-col{
    padding-bottom: 40px;
}
footer h3{
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 10px 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3ms ease;
}
footer li:hover{
    color: rgb(241, 240, 245);
}
footer p{
    color: #7b838a;
}
footer .subscribe{
    margin-top: 20px;
}
footer input{
    width: 220px;
    padding: 16px 12px;
    background: #334f6c;
    border: none;
    outline: none;
    color: white;
}
footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 16px;
    background-color: white;
    font-weight: 600px;
}
footer .subscribe a.yellow {
    color: #2c2c2c;
    background-color: #fdc938;
    transform: 0.3ms ease;
}
footer .subscribe a.yellow:hover {
    color: rgb(21, 21, 100);
    background-color: white;
}
footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
footer .copyright p{
    color: white;
}
footer .copyright .pro-links {
    margin-top: 16px;
}

footer .copyright .pro-links i {
    background-color: #5f7185;
    color: white;
}
footer .copyright .pro-links i:hover {
    background-color: #fdc938;
    color: #2c2c2c;
}
/* about page */
#about-home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(/images/IMG_7391.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 4vw;
}
#about-home h2 {
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
    margin-bottom: 4vw;
}
#about-container{
    padding: 4vw 8vw;
    display: flex;
    align-items: center;
}
#about-container .about-img{
    width: 60%;
    padding-right: 60px;
}
#about-container .about-img img{
    width: 100%;
}
#about-container .about-text{
    width: 40%;
}
#about-container .about-text h2{
    color: #293038;
    padding-bottom: 15px;
}
#about-container .about-text p{
    color: #686f7a;
    font-weight: 300;
}
#about-container .about-text .about-fe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}
#about-container .about-text .about-fe img{
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}
#about-container .about-text .about-fe .fe-text{
    width: 90%;
}
#about-container .about-text .about-fe .fe-text h5{
    font-size: 16px;
    color: #29303b;
}
#trust{
    text-align: center;
    padding: 4vw 8vw;
}
#trust .trust-img{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#trust .trust-img img{
    width: 100px;
    height: auto;
    margin: 10px;
}
/* blog page */
#blog-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4vw 8vw;
}
#blog-container .blogs{
    width: 60%;
}
#blog-container .blogs img{
    width: 100%;
    border-radius: 16px;
}
#blog-container .blogs .post{
    padding-bottom: 60px;
}
#blog-container .blogs .post h3{
    color: #293038;
    padding: 16px 0;
}
#blog-container .blogs .post p{
    color: #757373;
    padding-bottom: 32px;
}
#blog-container .cate{
    width: 30%;
}
#blog-container .cate h2{
    padding-bottom: 8px;
}
#blog-container .cate a{
    text-decoration: none;
    color: #757373;
    font-weight: 500;
    line-height: 45px;
}
#blog-container a.blue {
    color: white;
    background-color: rgb(21, 21, 100);
    transform: 0.3ms ease;
}
#blog-container a.blue:hover {
    color: rgb(21, 21, 100);
    background-color: white;
}
#blog-container a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 36px;
    background-color: white;
    font-weight: 600px;
    border-radius: 5px;
}
#blog-container .blogpost{
    width: 60%;
    margin: 0 auto;
}
#blog-container .blogpost p{
    text-align: justify;
}
/* course inner */
#courseDetails{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4vw 8vw;
}
#courseDetails h3{
    padding: 32px 0 24px 0;
    color: #293038;
}
#courseDetails p{
    color: #293038;
}
#courseDetails hr{
    height: 1px;
    background-color: rgba(236,226,229,0.5);
    margin-top: 40px;
}
#courseDetails .overview{
    width: 70%;
}
#courseDetails .overview img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}
#courseDetails .overview .courseHead{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#courseDetails .overview .courseHead .cName{
    width: 70%;
}
#courseDetails .overview .courseHead .cName h2{
    color: #29303b;
}
#courseDetails .overview .courseHead .cName .star{
    margin: 6px 0;
}
#courseDetails .overview .courseHead .cName .star i{
    color: #fdc938;
    font-size: 0.9rem;
}
#courseDetails .overview .courseHead .cName .star p{
    font-size: 16px;
}
#courseDetails .overview .courseHead span{
    padding: 16px 22px;
    border-radius: 5px;
    color: #5838f5;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(88,56,252,0.1);
}
#courseDetails .tutor{
    display: flex;
}
#courseDetails .tutor img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 0;
}
#courseDetails .tutor h5{
    font-size: 16px;

}
#courseDetails .learn p{
    font-size: 16px;
    padding-bottom: 16px;
}
#courseDetails .learn i{
    color: #654ce4;
    font-weight: 700;
    margin-right: 20px;
}

#courseDetails .enrol{
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 20px 40px 0 rgb(11 2 55/ 8%);
}
#courseDetails .enrol h3{
    padding-left: 10px;
}
#courseDetails .enrol p{
    font-size: 16px;
    color: #64626e;
    margin: 16px 0;
}
#courseDetails .enrol i{
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}
#courseDetails .enrol .enrolBtn{
    padding: 30px;
    text-align: center;
}
#courseDetails a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 36px;
    background-color: white;
    font-weight: 600px;
    border-radius: 5px;
}
#courseDetails a.blue {
    color: white;
    background-color: rgb(21, 21, 100);
    transform: 0.3ms ease;
    margin-top: 100px;
}
#courseDetails a.blue:hover {
    color: rgb(21, 21, 100);
    background-color: white;
}
/* contact us */
#contact{
    padding: 4vw 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#contact .getIn{
    width: 350px;
}
#contact .getIn h2 {
    font-size: 30px;
    font-weight: 800;
    color: #2c234d;
    line-height: 0.8;
    margin-bottom: 16px;
}
#contact .getIn p {
    color: #686875;
    line-height: 24px;
    margin-bottom: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e5e4ed;
}
#contact .getIn h3 {
    font-size: 20px;
    font-weight: 600;
    color: #2c234d;
    line-height: 26px;
    margin-bottom: 16px;
}
#contact .getIn .getInDetails div{
    display: flex;
}
#contact .getIn .getInDetails .hpsf{
    font-size: 16px;
    line-height: 22px;
    color: #5838fc;
    margin-right: 20px;
}
#contact .form{
    width: 60%;
    background: #f7f6fa;
    padding: 40px;
    border-radius: 10px;
}
#contact .form h4{
    font-size: 24px;
    line-height: 30px;
    color: #2c234d;
    margin-bottom: 8px;
}
#contact .form p{
    color: #686875;
    line-height: 24px;
    padding-bottom: 24px;
}
#contact .form .formRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#contact .form .formRow input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    background: white;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}
#contact .form .formCol input, 
#contact .form .formCol textarea{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    background: white;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}
#contact .form button{
    font-size: 0.9rem;
    font-weight: 600 px;
    padding: 12px 24px;
    background-color: rgb(21, 21, 100);
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    transform: 0.3ms ease;
}
#contact .form button:hover {
    color: rgb(21, 21, 100);
    background-color: white;
    border: solid 1px rgb(21, 21, 100);
}
#map{
    width: 100%;
    height: 70vh;
    margin: 4vw 0;
}
#map iframe{
    width: 100%;
    height: 100%;
}


@media (max-width:769px) {
    nav {
        padding: 15px 30px;
    }
    nav img {
        width: 60px;
        height: 30px;
        cursor: pointer;
    }
    #menu-btn{
        display: initial;
        cursor: pointer;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: white;
        padding: 20px;
        margin-top: 20px;
        cursor: pointer;
    }
    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background-color: rgba(17,20,104,0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255,255,255,0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }
    nav .navigation ul.active {
        right: 0;
    }
    nav .navigation ul li{
        padding: 20px;
        margin-left: 20px;
    }
    nav .navigation ul li a{
        color: white;
    }
    #home p {
    width: 90%;
    }
    #features {
        padding: 8vw 4vw 4vw 4vw;
        text-align: center;
    }
    #course {
        padding: 4vw;   
    }
    #course .courses .cost {
        bottom: 130px;
    }
    #registration .reminder .time {
        flex-wrap: wrap;
    }
    #experts {
        padding: 4vw;
    }
    footer .copyright .pro-links {
    margin-top: 16px;
    }
    /* about */
    #about-container {
            padding: 4vw;
        }
    
    #trust {
            text-align: center;
            padding: 4vw;
            padding-top: 4vw;
        }
    #about-container .about-img {
            padding-right: 30px;
        }
    #trust .trust-img img {
            width: 50px;
            height: auto;
            margin: 5px;
        }
        /* blog */
    #blog-container {
            padding: 4vw;
        }
        /* blog post */
    #blog-container .blogpost {
            width: 100%;
            margin-top: 30px 
        }
    #blog-container .blogpost img {
            height: 50vh;
            object-fit: cover;
        }
        /* course details */
        #courseDetails {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 4vw;
        }
    #courseDetails .overview {
            width: 100%;
        }
    #courseDetails .overview img {
            height: 40vh;
        }
    #courseDetails .tutor img {
            height: 60px;
        }
    #courseDetails .enrol {
            margin-top: 30px;
        }
        /*contact  */
    #contact {
            padding: 4vw;
        }
    #contact .getIn {
            width: 250px;
        }
}

@media (max-width:415px){
    #registration {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 8vw;
            text-align: center;
        }
    #registration .reminder .time {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 20px;
        }
        /* about */
    #about-container {
            flex-direction: column-reverse;
        }
    #about-container .about-img {
            width: 100%;
            padding-right: 0px;
        }
    #about-container .about-text {
            width: 100%;
            margin: 20px;
        }
    #trust .trust-img {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    #trust .trust-img img {
            width: 60px;
            height: auto;
            margin: 10px 20px;
        }
        /* blog */
    #blog-container {
            flex-direction: column;
        }
    #blog-container .blogs {
            width: 100%;
        }
    #blog-container .cate {
            width: 100%;
        }
        /* blogpost */
    #blog-container .blogpost {
            margin-top:70px
        }
        /* course details */
    #courseDetails .overview .courseHead .cName {
            width: 60%;
        }
    #courseDetails .overview .courseHead .cName h2 {
            font-size: 22px;
        }
    #courseDetails .overview .courseHead span {
            font-size: 22px;
        }
    #courseDetails .enrol {
            width: 100%;
        }
        /*contact  */
    #contact {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    #contact .getIn {
            width: 100%;
            margin-bottom: 30px;
        }
    #contact .form {
            width: 100%;
            padding: 40px 30px;
        }
    #contact .form .formRow {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
        }
    #contact .form .formRow input {
            width: 100%;
        }
}



